@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,700');

* {
margin:0;
padding:0;
box-sizing: border-box;
}



body{
	font-family: 'Roboto Slab', serif;
	font-size: 240px;
	text-align: center;
	line-height: 1;
}
#board{
	font-weight:700;
}
#action{
	font-size: 80px;
}
#time{
	font-size: 40px;
}
.route{
	  display: inline-block
}

.route:hover {
  cursor: pointer;
  background: #24272E;
}
