@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,700');

* {
margin:0;
padding:0;
box-sizing: border-box;
-webkit-touch-callout: none;
	 -webkit-user-select: none;
		-khtml-user-select: none;
			-moz-user-select: none;
			 -ms-user-select: none;
					 user-select: none;
}



body{
	font-family: 'Roboto Slab', serif;
	color:#454F54;
	font-size: 100px;
	text-align: center;
	line-height: 1.25;
	background-color: #CAD2C5;
}
#board{
	font-weight:700;
	background-color: #84A98C;

}
#cScore{
	color:#1d1d1d;
}
#uScore{
	color:#516890;
}
#action{
	font-size: .3em;
}
#time{
	font-size: .4em;

}
.routes{
	margin-top: .125em;
}
.route{
	  display: inline-block;
		border-style:solid;
		border-width:3px;
		color: #84A98C;
}
#rock{
	border-radius: 10px 40px 10px 10px;
}
#paper{
	border-radius: 40px 40px 40px 10px;
}
#scissors{
	border-radius: 40px 10px;
}


.route:hover {
  cursor: pointer;
  box-shadow: 10px 10px 20px #454F54;
}
.draw:active {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
